{%- extends "base.html" %}

{% block title %}This is an example page{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
      {% if current_user.is_authenticated %}
      <h1>Hello, {{ current_user.nickname }}!</h1>
      <a href="{{ url_for('logout') }}">Log Out</a>
      {% else %}
      <h1>Welcome!</h1>
      <a href="{{ url_for('login') }}">Log In</a>
      {% endif %}
  {% endblock %}
